.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  /* Additional CSS rules */
}

.element {
  background-image: url('./assets/background.png');
  height: 1000px; /* Example height */
  width: 100%; /* Example width */
  background-size: cover; /* Cover the entire element area */
  background-position: center; /* Center the background image */
  color: white;
}

