.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  /* Additional CSS rules */
}

.element {
  height: 1200px; /* Example height */
  width: 100%; /* Example width */
  background-size: cover; /* Cover the entire element area */
  background-position: center; /* Center the background image */
  color: white;
}

.shared-background {
  background-image: url('./assets/background.png');
  background-size: cover; /* Cover the entire area of the element */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  min-height: 100vh; /* Minimum height to at least the height of the viewport */
  width: 100%; /* Full width */
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Add more styling as needed */
}

